{% extends 'MLTicketingBundle::layout.html.twig' %}

{% block title %} Réservation {{ parent() }}{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="{{ asset('bundles/mlticketing/css/booking.css') }}" type="text/css" />
{% endblock %}

{%  block booking %}
    <div class="row">
        <div class="col-xs-12">
            <h1>Réservez vos billets !</h1>
            <div class="jumbotron">
                <h2>Informations complémentaires pour la réservation en ligne.</h2>
                <ul>
                    <li>Deux types de billets sont disponibles à la vente : le billet « Journée » et le billet « Demi-journée ». Ce dernier ne permet de rentrer qu’à partir de 14h00.</li>
                    <li>Bien évidemment, il n’est pas possible de réserver pour les jours passés.</li>
                    <li>La vente de tickets en ligne pour les dimanches n'est pas encore disponible ainsi que pour les jours fériés.</li>
                    <li>Nous sommes également dans l'incapacité de vendre des billets les jours où plus de 1000 billets ont été vendus afin de ne pas dépasser la capacité du musée.</li>
                    <li>Vous ne pouvez pas commander plus de 10 billets à la fois. Pour toute commande supérieure, renseignez-vous auprès de l'accueil pour obtenir le tarif groupe.</li>
                    <li>Le tarif « réduit » de 10 € est accordé dans certaines conditions (étudiant, employé du musée, d’un service du Ministère de la Culture, militaire…). Un justificatif vous sera demandé à l'accueil pour justifier de votre réduction.</li>
                </ul>
                <p>Nous vous remercions pour votre compréhension.</p>
            </div>
        </div>
    </div>

    {% for message in app.session.flashbag.get('success') %}
        <div class="col-xs-12 alert alert-success text-center">
            <p>{{ message }} Un email de confirmation vous a été envoyé !</p>
        </div>
    {% endfor %}

    {% for message in app.session.flashbag.get('full') %}
        <div class="col-xs-12 alert alert-warning text-center">
            <p>{{ message }}</p>
            <hr>
            <p>Nous avons atteint le seuil maximum autorisé à cette date. Nous vous invitons à sélectionner un autre jour de visite!</p>
            <p>Bien entendu, aucun prélévement n'a été effectué sur votre compte.</p>
        </div>
    {% endfor %}

    {% for message in app.session.flashbag.get('noValidCharge') %}
        <div class="col-xs-12 alert alert-warning text-center">
            <p>{{ message }}</p>
            <hr>
            <p>Nous vous prions de nous en excuser! Nous vous invitons à renouveler votre demande.</p>
        </div>
    {% endfor %}

    <div class="sticky col-xs-offset-3 col-xs-6 col-sm-offset-9 col-sm-3 col-md-offset-10 col-md-2"><i class="fa fa-shopping-basket" aria-hidden="true"></i>&nbsp;Panier : <span id="basket"></span>€</div>

    <div class="row">

        {{ form_start(form, {'attr': {'id' : 'bookingForm', 'class': 'form-horizontal'}}) }}

        <div class="col-md-offset-3 col-md-6">
            {{ form_errors(form) }}
        </div>

        <div class="col-md-offset-3 col-md-6 well form-shadow">
            {{ form_row(form.visitDay, {'label': 'Sélectionnez le jour de visite' }) }}

            {{ form_row(form.email) }}

            {{ form_row(form.daily, { 'label': 'Type de billet(s)' }) }}

            <div class="form-group">
                <label for="ml_ticketingbundle_bill_ticket_number">Nombre de billet(s):</label>
                <select class="form-control" id="ml_ticketingbundle_bill_ticket_number" required>
                    <option value="">--Choisissez le nombre de billets--</option>
                    <option value="1">1 billet</option>
                    <option value="2">2 billets</option>
                    <option value="3">3 billets</option>
                    <option value="4">4 billets</option>
                    <option value="5">5 billets</option>
                    <option value="6">6 billets</option>
                    <option value="7">7 billets</option>
                    <option value="8">8 billets</option>
                    <option value="9">9 billets</option>
                    <option value="10">10 billets</option>
                </select>
            </div>
        </div>

        <div>
            {{ form_row(form.tickets) }}
        </div>

        <div class="col-xs-12">
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-info center-block'}, 'label': 'Valider'}) }}
        </div>

        {{ form_rest(form) }}

        {{ form_end(form) }}

    </div>

{% endblock %}

{% block javascript %}
    <script  src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script  src="http://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
    <script  src="https://checkout.stripe.com/checkout.js"></script>
    <script  type="text/javascript" src="{{ asset('bundles/mlticketing/js/stripe.js') }}"></script>
    <script  type="text/javascript" src="{{ asset('bundles/mlticketing/js/validator-form.js') }}"></script>
    <script  type="text/javascript" src="{{ asset('bundles/mlticketing/js/datepicker.js') }}"></script>
    <script  type="text/javascript" src="{{ asset('bundles/mlticketing/js/daily.js') }}"></script>
    <script  type="text/javascript" src="{{ asset('bundles/mlticketing/js/booking.js') }}"></script>

{% endblock %}